name: Crear Webhooks
on:
  workflow_dispatch:
    inputs:
      repositories:
        description: 'Array de repositorios destino (ejemplo: repo1,repo2,repo3)'
        required: true
        type: string
      webhooks:
        description: |
          array de webhooks a crear (ej: validate_push_user, delete_important_branch)
          webhooks soportados:
            - delete_important_branch
            - delete_protection_rules
            - repository_removed
            - validate_push_user
            - generate_pull_request
            - validate_jenkinsfile_changes

        required: true
        type: string

jobs:
  crear_webhooks:
    name: Crear webhooks en repositorios
    runs-on: self-hosted

    steps:
      - name: Mostrar inputs recibidos
        run: |
          echo "Repositorios: ${{ github.event.inputs.repositories }}"
          echo "Webhooks: ${{ github.event.inputs.webhooks }}"

      - name: Preparar payload JSON
        id: build_payload
        env:
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
        run: |
          repos=$(echo "${{ github.event.inputs.repositories }}" | sed 's/,/","/g')
          hooks=$(echo "${{ github.event.inputs.webhooks }}" | sed 's/,/","/g')

          echo "{
            \"baseUrl\": \"${API_BASE_URL}\",
            \"repositories\": [\"$repos\"],
            \"webhooks\": [\"$hooks\"]
          }" > payload.json

      - name: Llamar API para crear webhooks
        env:
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          API_SECRET: ${{ secrets.API_SECRET }}
        run: |
          echo "Llamando API: $API_BASE_URL/crud"

          curl -X POST "$API_BASE_URL/crud" \
            -H "Content-Type: application/json" \
            -H "x-api-secret: $API_SECRET" \
            --data-binary @payload.json \
            --silent \
            --show-error \
            --write-out "\nHTTP_STATUS=%{http_code}\n" \
            > api_response.json

      - name: Mostrar respuesta de la API
        run: |
          echo "===== Respuesta de la API ====="
          cat api_response.json

          STATUS=$(grep "HTTP_STATUS" api_response.json | cut -d'=' -f2)
          echo "Código HTTP recibido: $STATUS"

          if [ "$STATUS" -ne 200 ]; then
            echo "La API respondió un error. Deteniendo el workflow."
            exit 1
          fi

          echo "La API respondió correctamente."
